body{
      background-color: $bg-body;
}
.container{
      max-width: 1140px;
      margin: 0 auto;
}
.flex-between{
  @include flex-between;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $black-text;
  margin-bottom: 20px;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.visible-flex {
  display: flex;
}