.btn {
    background-color: $green-btn;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 130px;
    cursor: pointer;
    text-transform: uppercase;
    color: $white;
  }
.btn-search {
    display: flex;
    align-items: flex-end;
}
.btn-red{
    background-color: $red-btn;
}
.btn-icon{
    border: none;
    background-color: transparent;
    img{
        width: 38px;
        height: 35px;
    }
    .small{
        width: 30px;
        height: 30px;
    }
}