.cards{
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 30px;
  .card-item {
    background-color: #FAFAFA;
    box-shadow: 10px 10px 40px rgba(91, 91, 91, 0.12);
    border-radius: 8px;
    padding: 18px 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    .show-more{
      display: none;
    }
    .btn-item{
      height: max-content;
      display: flex;
      align-items: center;
    }
    p{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    label{
      font-size: 16px;
      line-height: 22px;
      color: #5B5B5B;
      display: inline-block;
      margin-right: 10px;
    }
    span{
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2A3737;
      display: inline-block;
      margin-right: 3px;
    }
  }
}