form{
    *{
        outline: none;
    }
    input{
        background-color: transparent;
    }
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background: rgb(255 255 255 / 65%)  url("../img/loading.gif") center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
    }

}
.form{
    width: 100%;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
    span{
        color: $grey-text;
        display: inline-block;
        margin-bottom: 10px;
    }
}

.select-form{
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    background-color: $green-btn;
    select{
        border: none;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        background: url("../img/rectangle.svg") no-repeat center right;
        padding-right: 17px;
        color: $white;
        option{
            color:$green-btn;
        }
    }
}

.input-form{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid $green-btn;
    input{
        padding: 10px;
        border: none;
        border-radius: 6px;
        width: 90%;
        outline: none;

    }
}
.checkbox-form{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &:last-child{
        margin-bottom: 0;
    }
        label{
            font-size: 15px;
            line-height: 22px;
            color: $grey-text;
            display: flex;
            align-items: center;
            input{
               display: none;

            }
            span{
                height: 16px;
                width: 16px;
                border: 1px solid $green-btn;
                display: inline-block;
                position: relative;
                margin-right: 8px;
                background-color:$white;
                border-radius:3px;
                padding:3px;
            }
            [type=checkbox]:checked + span:before {
                content: '✔';
                position: absolute;
                top: -2px;
                left: -1px;
                border: 1px solid $green-btn;
                height: 16px;
                width: 16px;
                border-radius:3px;
                font-size:15px;
                color: $white;
                background-color: $green-btn;
                padding: 5px 3px 3px 3px;
                display: flex;
                align-items: center;
                justify-content: center;
              }

    }
}
.textarea-form{
    textarea{
        width: 100%;
        border: 1px solid $green-btn;
        border-radius: 6px;
        padding: 10px;
    }
}
.form-error{
    border: 1px solid red;
}
.sending::after{
    opacity: 1;
    visibility: visible;
}
.row-grid{
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    align-items: end;
    gap: 20px 10px;
    margin-bottom: 20px;
    .form{
        margin-bottom: 0;
    }
    .row-flex{
        display: flex;
        align-items: flex-end;
        .units{
            margin-bottom: 3px;
            margin-left: 5px;
            font-size: 14px;
        }
    }
}