header {
  padding: 9px 0;
  background-color: #fafafa;
  opacity: 0.8;
  box-shadow: 10px 10px 40px rgba(91, 91, 91, 0.12);
  .btn-create-visit {
    display: none;
  }
}

.filter {
  padding: 50px 0;
  display: flex;
  &-item {
    margin-right: 50px;
  }
}
.row-grid {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  align-items: end;
  gap: 20px 10px;
  margin-bottom: 20px;
  .form {
    margin-bottom: 0;
  }
  .row-flex {
    display: flex;
    align-items: flex-end;
    .units {
      margin-bottom: 3px;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}
.row-btn{
  display: flex;
  justify-content: space-between;
}
///////////////
