#modal-add-card{
    //display: none;
}
#modal-login{
    display: none;
}
.modal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .mask{
        width: 100vw;
        height: 100vh;
        background-color: #000000a3;
        z-index: 10;
    }
    &-body{
        width: 500px;
        background-color: $white;
        position: absolute;
        z-index: 11;     
        padding: 20px 20px 40px 20px;  
        border-radius: 8px;
        .title{
            font-size: 33px;
            line-height: 32px;
            color: $green-text;
            text-align: center;
            margin-bottom: 30px;
        }
        .btn{
            margin-top: 20px;
        }
    }
}

//стили Иван
/* Стили для модального окна */
.modal {
    display: none; /* По умолчанию модальное окно скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
